body{
    margin: 0px;
    width: 100%;  
    height: 1150px; 
    background-color: #f5f5f5; 
}
.cabecalho img{
    width: 160px;
    height: 160px;
    margin-left: 80px;
    margin-top: 00px;
}

.cabecalho{
    height: 150px;
    width: 100%;
    background-image: url("../img/FundoCABE.jpeg");
}
.cabecalho h1{
    margin-left: 200px;

}

/***************************************************************************************/
.navbar{
    vertical-align: middle;
    display: inline-block;
    margin: 30px 30px 0px 20px;
}
.goleft{
    float: left;
}
.notbolt{
    font-weight: 400;
}
.italic{
    font-style: italic; 
}
.textalign_right{
    text-align: right;
}
.scroll{
    overflow: auto;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    margin: -100px 0px 30px 300px; 

}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin: 10px;
    box-shadow: 2px 2px rgb(56, 58, 57);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}
/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/***************************************************************************************/

section{
    width: 100%; 
    background-color: #f5f5f5; 
    border-top: solid 2px #9397b3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}
#mainSec{
    width: 715px;
    height: 680px;
    border-radius: 5px;
    margin: auto;
    color: black;
    text-align: left;
}

/***************************************************************************************/


#sec_div{    
    width: 1200px;
    height: 580px;
    margin: auto;
    margin-top: 40px;
}
#sec_div01{
    background-color: rgb(175, 203, 255);
    width: 15%;
    height: 30%;
    margin: auto;    
    float: left;
    margin-left: -100px;
    border-radius: 10px;
}
#sec_div02{
    width: 85%;
    height: 100%;
    margin: auto;    
    float: left;
    margin-left: 100px;
    border-radius: 10px;
}
#text_title{
    height: 10%;
    text-align: center;
    margin: 2%;
}
#text_nav{
    margin: 4%;
    font-size: 14px;
    line-height: 40px;
}
#sec_div02_title{
    background-color: white;
    height: 60px; 
    width: 100%;  
    float: left; 
    border-radius: 10px;
    text-align: center ;
}
#title00{
    color: darkblue;
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sec_div02_article{
    background-color: #f5f5f5; 
    height: 520px; 
    width: 100%;  
    float: left; 
}
#tabela01{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: left;
    line-height: 13px;
}
#sec_div02_article table td {
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 196);
    width: 200px;
    height: 20px;
}
#sec_div02_article table th {
    width: 170px;
}
fieldset {
    background-color:rgb(202, 240, 202);
    width: 90%;
    margin: auto;
}  
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}
  
input {
    margin: 5px;
    width: 150px;
}
.changeWidth{
      width: 15px;
}
#fieldset_A{
    float: left;
    margin: auto;
    width: 200px;
}
#fieldset_B{
    float: left;
    margin: auto;
    width: 200px;
    margin-left: 50px;
}
.submit{
    background-color:rgb(202, 240, 202);
    border:solid 1px #dedede;
    height: 30px;
    width: 170px;
    float: right;
    margin-right: 17px;
    font-weight: bold;
}
